html, body, iframe {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  width: 300pt;
  height: 200pt;
}

html.mobile,
html.mobile > body,
html.mobile > body > iframe {
  width: 100%;
  height: 100%;
}
